.experience {
  height: 50vh;
  display: flex;
  flex-direction: row;
  background-color: #bab8b9;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

.experienceTitle {
  display: flex;
  width: 50%;
  font-size: x-large;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.experienceDiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: large;
  justify-content: center;
}

.work {
  padding-left: 3%;
  font-weight: bold;
}
